* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
  
  
}
.navbar {
  color: white;
  font: 500;
  margin: 0 auto;
  display: flex;
  width: 100%;
 
}

.nav-items {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
  background: linear-gradient(115deg, #3c8ce7, #00eaff);
  padding: auto 20px;
  border: none 10px solid;
  border-radius: 5px;
  margin: 10px;
  font: bolder;
}
.navbar .nav-items a {
  color: white;
  text-decoration: none;
  padding: 25px;
  font: bold;
}
.navbar .nav-items :hover {
  color: white;
  
  transition: all 0.1s ease-in-out;
  font-size: larger;
}

.welcome {
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: black;
  margin-top: 10px;
  font-size: 35px;
  transition: all 1s ease-in;
  padding-left: 40%;
  align-items: center;
  justify-content: end;
  animation: fadeIn 1s ease-in;
}

.typewriter {
  font-family: monospace;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid black; /* small cursor */
  width: 0;
  animation: typing 3s steps(35, end) forwards, blink 0.3s step-end infinite;
  padding-right: 0.1em; /* Small space after the cursor */
  padding-left: 40%;
  align-items: center;
  display: flex;
  justify-items: center;
  color: #00bfff;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  } /* Adjust this based on your text length */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    gap: 10px;
  }

  .navbar .nav-items a {
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .welcome {
    padding-left: 0;
    text-align: center;
    font-size: 15px;
  }

  .typewriter {
    padding-left: 0;
    font-size: 13px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  @keyframes typing {
  from {
    width: -10%;
  }
  to {
    width: 100%;
  } /* Adjust this based on your text length */
}
}




